<html>
  <head>
    <title>Điểm danh</title>

    <link href='/stylesheets/daisyui.css' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
    <script src='/javascripts/tailwindcss.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>